body {
  background-color: lightblue;
}

.card {
  max-width: 350px;
  width: 30%;
  margin: 10px;
  max-height: fit-content;
}

.card-img-top {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

table {
  font-size: .85em;
}